{% extends 'base.html' %}
{% block content %}
<form method='post'>
    {% csrf_token %}
   From :<input type='date'name='from' />
   To :<input type='date' name='to' />
   <input type="submit" value="search"> 
</form>
{% if total %}
<h4>'Total Downtime ':{{total}} Minutes<br></h4>

<table>
    <tr>
        <th>Date</th>
        <th>Machine</th>
    </tr>
    {% for i in dt %}
    <tr> 
        <td>{{ i.date }}</td>
        <td>{{ i.machine }}</td>
    </tr>
    {% endfor %}
</table>



{% endif %}


{% endblock %}